.head-img{width: 100%; height:auto; background-image: url('/home/image/space.jpg'); magin:0 auto;background-repeat : no-repeat;}

/*侧边栏*/
.jquery-accordion-menu {
    min-width: 260px;
    float: left;
    position: relative;
    box-shadow: 0 20px 50px #333;
}
.jquery-accordion-menu, .jquery-accordion-menu * {
    font-family: 'Open Sans',sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0;
}